*{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 25px;
}

html,body{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body{
  background-color: black;
}

h1{
  background-color: rgb(97, 87, 87);
  width: fit-content;
  margin: 20px;
  padding: 25px 100px;
}

button{
  background-color: rgb(97, 87, 87);
  padding: 25px 50px;
  margin: 20px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(134, 121, 125);
}